// ===========================================
// ================== RESET ==================
// ===========================================
* {
    font-family: 'Poppins', sans-serif; 
    padding: 0;
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
    letter-spacing: .4px;
    line-height: 1.1;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.overlay {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.header, .footer, form {
    background-color: rgba(0,0,0,0.75);
    padding: 20px 30px;
    width: 100%;
    text-align: center;
    h1 {
        color: white;
        font-size: 32px;
    }
    h2 {
        color: white;
        font-size: 20px;
    }
}

.search-arrow {
    &::after, &::before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        bottom: -50px;
        left: calc(50% - 50px);
    } 
    &::after {
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 50px solid rgba(0,0,0,0.7);
        bottom: -48px;
        &:hover {
            border-top: 50px solid rgba(0,0,0,0.9);
        }
    }
    &::before {
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 50px solid rgba(255,255,255, 0.4);
        bottom: -50px;
    }
}

.hidden {
    display: none;
}

.rel {
    position: relative;
    width: 100%;
}

.hover {
    &:hover {
        filter:brightness(50%);
    }
}

.title, .buttons {
    display: none; 
    position: absolute;
}
.title {
    top: 50px;
}

.buttons {
    bottom: 10px;
}